.galeria{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-bottom:3%;
    padding-top:1%;
}
.img{
    margin-bottom: 10px;
    width: 25%;
    height: 450px;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.textoculto{
    display: none;
}

.imagen{
    max-width: 100%;
    min-height: 80%;
    max-height: 80%;
}

.img:hover{
    .imagen{
        display: none;
    }
    .textoculto{
        display: block;
        font-size: large;
        text-align: center;
        padding: 15%;
        color: rgb(207, 160, 18);
    }
    background-color: black;
    color: white;
}

